/*---------------------
-----------------------
        GENERAL  
-----------------------
---------------------*/

/*----CSS RESET----*/

* {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        text-decoration: none;
}

/*----General----*/

body {
        display: grid;
        grid-template: repeat(4, auto) / repeat(12, 1fr);
}

h1,
h2 {
        color: #7c925e;
}

/*---------------------
-----------------------
        HEADER  
-----------------------
---------------------*/

/*----General----*/

header {
        grid-column: span 12;
        padding: 2% 20%;
        border-bottom: solid 3px #6d6d6d;
        background-color: #fbf9f7;
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
}

nav img {
        width: 20px;
        margin-left: 15px;
}

nav ul {
        display: flex;
        flex-grow: 1;
}

nav ul li {
        margin-right: 5%;
}

a,
p {
        color: #6d6d6d;
}

#stickymessage {
        grid-column: span 12;
        position: sticky;
        top: 0px;
        background-color: #ebe2d7;
        text-align: center;
        padding: 5px;
}

/*---------------------
-----------------------
        CONTENU  
-----------------------
---------------------*/

/*----General----*/

main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 12;
        margin: 5% 20%;
        gap: 25px;
}

section:first-child {
        grid-column: 1;
}

section:first-child p {
        width: 85%;
        background-color: #ebe2d7;
        position: relative;
        padding: 5%;
        margin-top: -50px;
}

section:last-child {
        display: flex;
        grid-column: 2;
        flex-flow: row wrap;
        justify-content: space-evenly;
}

section:first-child img {
        width: 95%;
        margin-left: 55px;
}

section:first-child h2 {
        margin-left: 55px;
}

article img {
        width: 80%;
        max-width: 125px;
        float: left;
        margin-right: 5px;
}

article {
        max-width: 225px;
        min-height: fit-content;
}

h2 {
        margin-top: 10px;
        margin-bottom: 10px;
}

/*---------------------
-----------------------
       FOOTER
-----------------------
---------------------*/

/*----General----*/

footer {
        grid-column: span 12;
        padding: 1% 20%;
        background-color: #ebe2d7;
}

form {
        margin-top: 10px;
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr 2fr;
        column-gap: 45px;
        row-gap: 5px;
}

input,
textarea {
        border: none;
        padding: 10px;
}

textarea {
        grid-column: 2;
        grid-row: 1 /span 3;
}

input[type="submit"] {
        background-color: #7c925e;
        color: white;
        grid-column: 2;
}

/*---------------------
-----------------------
       MEDIA QUERIES
-----------------------
---------------------*/

@media only screen and (max-width: 575px) {
        header {
                padding: 1% 5%
        }

        #stickymessage {
                position: static;
        }

        header ul {
                flex-direction: column;
        }

        header ul li {
                margin-top: 5px;
                margin-bottom: 5px;
        }

        main {
                margin: 1% 10%;
        }

        section:first-child p {
                margin-top: -60px;
        }

        section:first-child img {
                margin-left: 10px;
        }

        section:first-child h2 {
                margin-left: 10px;
        }

        section:first-child {
                grid-column: span 2;
                grid-row: 1;
        }

        section:last-child {
                flex-flow: column nowrap;
                grid-column: span 2;
                grid-row: 2;
        }

        article {
                max-width: 90%;
        }

        footer {
                padding: 1% 2%;
        }

        form {
                grid-template-rows: repeat(3, 1fr) 2fr 1fr;
                grid-template-columns: auto;
        }

        textarea {
                grid-column: 1;
                grid-row: 4;
        }

        input[type="submit"] {
                background-color: #7c925e;
                color: white;
                grid-column: 1;
        }
}