/*----CSS RESET----*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Assistant, Arial, Helvetica, sans-serif;
}

/*----General----*/

@font-face {
    font-family: Assistant;
    src: url(../ExerciceGridFlex/Assistant-VariableFont_wght.ttf);
}

body {
    display: grid;
    grid-template: repeat(4, auto) / repeat(12, 1fr);
}

/*----Grid Division----*/

/*----Flex Organization----*/

/*----Margins and Paddings----*/

/*----Design----*/