h1 {
    color: red;
}

a {
    color: yellowgreen;
}

#contenu {
    background-color: grey;
}

div+div {
    text-align: right;
}

div+div p {
    font-size: 2em;
}

/*
div:not(#contenu){
    text-align: right;
}

div:not(#contenu) p{
    font-size: 2em;
}
*/