body {
    margin: 0 25% 0 25%;
    padding: 0;
}

@media screen and (max-width: 998px) {
    body {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1439px) {
    body {
        margin: 0;
        padding: 0;
    }
}

@font-face {
    font-family: Assistant;
    src: url(Assistant-VariableFont_wght.ttf);
}



main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: Assistant, Arial, Helvetica, sans-serif;
    margin: 1em;
}

h1,
h3 {
    color: #1F497D;
    text-align: center;
    line-height: 0;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2,
hr {
    font-size: 1.75em;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0.4em;
}

h4, h5, .textEx p {
    margin: 0 4% 0 1%;
}

ul {
    list-style: none;
    list-style-position: inside;
    font-style: italic;
    padding: 0;
    font-size: 1em;
}

.hobbies ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact ul li,
.competences ul li {
    padding: 3%;
}

.competences ul li {
    font-weight: bold;
}

.titre,
.competences {
    background-color: #F2F2F2;
}

.contact,
.description,
.hobbies,
.circle {
    background-color: #1F497D;
}

.contact h2,
.hobbies h2 {
    border-bottom: solid white 2px;
    padding-bottom: 3%;
}

.competences h2 {
    border-bottom: solid #1F497D 2px;
    padding-bottom: 3%;
}

.titre {
    grid-column: 12 span;
}

.description,
.expro {
    grid-column: span 8;
}

.expro {
    grid-row: span 3;
    padding: 2em;
}

.pImg,
.contact,
.competences,
.hobbies {
    grid-column: span 4;
    padding: 1.5em;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pImg {
    display: flex;
    justify-content: center;
}

.contact ul li,
.hobbies ul li,
.contact h2,
.hobbies h2,
.description p,
.circle {
    color: white;
}

.competences ul li,
.competences h2,
.expro h2 {
    color: #1F497D;
}

.expGroup {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 20% 80%;
    justify-items: end;
    margin: 5% 0 5% 0;
    grid-gap:15px
}

.circle {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
}

